.btn-login {
    margin: 1em;
    padding: 0.7em 2.5em;
    font-size: 1em;
    background: #009879;
    border-radius: 25px;
    border: none;
    transition: .2s ease-in;
}

.btn-login:hover {
    color: white;
    background-color: #17ecc2;
    transform: scale(1.1);
}

.btn-login:active {
    background-color: black;
}

.phone-con {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
}