.parent{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    border: 1px solid #009879;
    border-radius: 1em;
    width: 50vw;
}
.head h1{
    margin-bottom: 1em;
}
.head p{
    margin-bottom: .5em;
}
.btn-main{
    text-decoration: none;
    margin-top: 10px;
}
.pcon{
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
}
p{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(210, 214, 210);
    border: 0 0 10px 10px;
    padding: 0.8em;
    

}